@import "styles/sass/main";

.Subscription {
  width: 100%;
  margin-top: 8px;
  font: 400 16px/26px Libre Baskerville, Georgia, Times New Roman, Times, serif;
  color: $black;
  text-align: center;
}
