@font-face {
  font-family: 'MinionPro-Medium';
  src: url('../../fonts/MinionPro-Medium.otf');
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('../../fonts/Manrope-Medium.ttf');
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('../../fonts/Manrope-Bold.ttf');
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('../../fonts/Manrope-SemiBold.ttf');
}
