// screen
$tiny: 320px;
$sm: 575px;
$md: 767px;
$l: 900px;
$lg: 1023px;
$x: 1132px;
$xl: 1439px;

// colors
$black: #2b3139;
$black-gray: #999999;
$gray: #dfded8;
$red: #c00;

// fonts
$minionPro-medium: "MinionPro-Medium";
$manrope-medium: "Manrope-Medium";
$manrope-semiBold: "Manrope-SemiBold";
$manrope-bold: "Manrope-Bold";
